* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  min-width: 100vw;
  min-height: 100vh;
  border: 1px solid black;
  display: flex;
}

.container-1 {
  border: 1px solid blue;
  width: 70vw;
}

.color-box {
  border: 1px solid red;
  height: 40vh;
  display: flex;
  /* justify-content: center; */
  gap: 200px;
  position: relative;
}

.red-box {
  margin-top: 50px;
  height: 200px;
  width: 300px;
  background: red;
  position: fixed;
  left: 500px;
  /* right: 0; */
}

.green-box {
  margin-top: 50px;
  height: 200px;
  width: 300px;
  background: green;
}

.container-2 {
  border: 1px solid blue;
  width: 30vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.yellow-box {
  margin-top: 50px;
  height: 200px;
  width: 300px;
  background-color: yellow;
  position: sticky;
  top: 0;
}
