* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  height: 100%;
}

.clock {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 100%;
  border: 10px solid teal;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.clock .top {
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: black;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.clock .right {
  position: absolute;
  width: 8px;
  height: 3px;
  background-color: black;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.clock .bottom {
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: black;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.clock .left {
  position: absolute;
  width: 8px;
  height: 3px;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
