* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  height: 100%;
}

.clock {
  position: absolute;
  height: 250px;
  width: 250px;
  background-color: white;
  border-radius: 100%;
  border: 10px solid teal;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
