* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  height: 100%;
}

.clock {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 100%;
  border: 10px solid teal;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.clock .top {
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: black;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.clock .right {
  position: absolute;
  width: 8px;
  height: 3px;
  background-color: black;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.clock .bottom {
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: black;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.clock .left {
  position: absolute;
  width: 8px;
  height: 3px;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.clock .center {
  height: 6px;
  width: 6px;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.clock .minute {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 3600s infinite linear;
}

.clock .minute::before {
  position: absolute;
  content: "";
  background-color: rgb(97, 95, 95);
  height: 60px;
  width: 2px;
  top: 40px;
}

.clock .second {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 60s infinite linear;
}

.clock .second::before {
  position: absolute;
  content: "";
  background-color: red;
  height: 70px;
  width: 1px;
  top: 30px;
}

@keyframes time {
  to {
    transform: rotate(360deg);
  }
}
